footer{
  background: $cinza;
  padding: 25px 0;
  color: $branco;

  a{
    color: $branco;
    &:hover{
      color: $branco;
    }
  }

  h4{
    font-size: 19px;
    color: $amarelo;
  }

  ul{
    li.ellipsis{
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}