@media(max-width: 354px){
  .banners-promocionais-estatico{
    .banners-promocionais-estatico-12x,
    .banners-promocionais-estatico-entrega{
      p{
        font-size: 16px;
      }
    }
  }
}

@media(max-width: 768px){
  header{
    form{
      input{
        margin: 20px 0;
      }
    }
  }

  #banners-promocionais{
    display: none;
  }

  .produtos-container{
    img {
      width: 100%;
    }
  }
}
